output/
# --- Specific Wasm artifacts (Don't ignore the whole folder!) ---
dist/

tests/test_output
# --- System & Misc ---
.DS_Store
*.o
# --- Dependencies and Environment ---
node_modules/
.env

# --- OS and IDE specific files ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- Logs ---
*.log
npm-debug.log*

build/